<!DOCTYPE html>
<html>
<head>
    <title>Teachers List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Teachers List</h1>

    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Class Teacher Of</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.user.id }}</td>
                <td>{{ teacher.user.username }}</td>
                <td>{{ teacher.user.email }}</td>
                <td>{{ teacher.user.role }}</td>
                <td>{{ teacher.class_teacher_of }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
